@model TNPSTOREWEB.Model.ModelLayout
@{


    await Html.RenderPartialAsync("~/Views/Shared/_MyLaoutMenu.cshtml", Model);

}
<h5 class ="ps-3 fs-8">กำหนดผู้เข้าใช้งานระบบ</h5>

@if (Model.Saveflg is 0)
{
    <p class="ps-3 text-success">@Model.Message</p>
}
else
{
    <p class="ps-3 text-warning-dark">
        @Model.Message
    </p>
}

<form class="mb-3 mbs-label-font-thai" method="POST" asp-controller="Admin" asp-action="Userlogin" asp-route-id="@Model.Id" id="searchForm">

    @* //section Serach *@
    <div class="d-flex flex-wrap gap-3 mb-4 ps-2">

        <div class="scrollbar overflow-hidden-y">
            <div class="btn-group position-static" role="group">

                <select class="form-select mbs-label-font-thai fs-9" id="groupselect" asp-for="SelectedOption"
                asp-items="@(new SelectList(Model.wls, "WlId", "WlName"))">
                    <option value="0">---เลือกร้านสาขา---</option>
                </select>

            </div>
            <div class="btn-group position-static" role="group">

                <select class="form-select mbs-label-font-thai fs-9" id="groupselect" asp-for="SelectGroupNo"
                asp-items="@(new SelectList(Model.cinfo, "ClassCode", "ClassName"))">
                    <option value="0">---เลือกกลุ่มผู้ใช้งาน---</option>
                </select>

            </div>

            <div class="btn-group position-static ps-2" role="group">
                <button class="btn btn-link  text-info me-4 px-0" asp-action="Userlogin" asp-route-clear="N"><span class="fa-solid far fab fa-sistrix fs-8 me-2"></span>ค้นหา</button>

            </div>

            <div class="btn-group position-static ps-2" role="group">
                <button class="btn btn-link text-secondary-light me-4 px-0" asp-action="Userlogin" asp-route-clear="Y">เคลียร</button>

            </div>


            <div class="btn-group position-static form-check-inline" role="group">

                <button class="btn btn-primary btn-sm" type="sumbit" asp-action="UserloginAdd" asp-route-id="@Model.Id" asp-route-actionx="A" asp-route-cat="@Model.Loccat"> <span class="fas fa-plus pe-2 fs-10"></span>สร้างใหม่</button>
            </div>

        </div>
    </div>
    @*//End Section*@

    <div class="mx-n4 px-4 mx-lg-n4 px-lg-4 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
        <div id="orderTable" data-list='{"valueNames":["WlCode","WlName","ClassId","UserName","Firstname","Lastname","CurrPasswd"],"page":10,"pagination":true}'>
            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-sm fs-9 mb-0">
                    <thead class="bg-primary-subtle">
                        <tr>

                            <th class="sort align-middle ps-2" scope="col" data-sort="WlCode" style="width:80px;">รหัสร้านสาขา</th>
                            <th class="sort align-middle ps-2" scope="col"  style="width:150px;">ชื่อสาขา</th>
                            <th class="sort align-middle ps-2" scope="col" data-sort="ClassId" style="width:120px;">กลู่มผู้ใช้งาน</th>
                            <th class="sort align-middle ps-2" scope="col" data-sort="UserName" style="width:100px;">รหัสผู้ใช้งาน</th>
                            <th class="sort align-middle ps-2" scope="col" data-sort="Firstname" style="width:150px;">ชื่อ</th>
                            <th class="sort align-middle ps-2" scope="col" style="width:150px;">นามสกุล</th>
                            <th class="sort align-middle ps-2" scope="col" style="width:100px;">Password</th>
                            <th class="sort white-space-nowrap align-middle fs-10" scope="col" style="width:70px;">แก้ไข</th>
                            <th class="sort white-space-nowrap align-middle fs-10 ps-2" scope="col" style="width:70px;">ลบ</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="order-table-body">

                        @if (Model.usr!= null && Model.cinfo !=null)
                        {
                            @foreach (var item in Model.usr)
                            {
                                <tr class="hover-actions-trigger btn-reveal-trigger position-static mb-0">

                                    <td class="fs-9 align-middle ps-2">
                                        <p class="WlCode fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.WlCode)</p>
                                    </td>
                                    <td class="fs-9 align-middle">
                                        <p class="fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.WlName)</p>
                                    </td>

                                    <td class="fs-9 align-middle">
                                        <p class="ClassId fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.ClassId)</p>
                                    </td>

                                    <td class="fs-9 align-middle">
                                        <p class="UserName fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.UserName)</p>
                                    </td>

                                    <td class="fs-9 align-middle">
                                        <p class="Firstname fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.Firstname)</p>
                                    </td>
                                    <td class="fs-9 align-middle">
                                        <p class="fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.Lastname)</p>
                                    </td>

                                    <td class="fs-9 align-middle">
                                        <p class="fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.CurrPasswd)</p>
                                    </td>

                                    <td class="align-middle">

                                        <button class="btn btn-sm" asp-action="UserloginAdd" asp-route-actionx="M" asp-route-id="@Model.Id" asp-route-wl="@item.WlCode" asp-route-usernames="@item.UserName" asp-route-classid="@item.ClassId" asp-route-passwd="@item.CurrPasswd">
                                                <span class="fas fa-edit text-info fs-9"></span>
                                            </button>
                                       
                                       

                                    </td>
                                    <td class="align-middle">
                                        <button class="btn btn-sm" asp-action="Delete" asp-route-actionx="D" asp-route-id="@Model.Id" asp-route-wl="@item.WlCode" asp-route-usernames="@item.UserName">
                                            <span class="far fa-trash-alt text-danger fs-9"></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>

  
 



</form>

 @* popup create from *@
 

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @* <script>
        $('input[type=radio][name=options]').change(function () {

              $('#searchForm').submit();
           });


    </script> *@
    }

