
@model TNPSTOREWEB.Model.ModelLayout
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HHScanLayout.cshtml";
   
}
<p class="ps-3 fs-8">การบันทึกสินค้าใกล้หมดอายุ => ลำดับ: @Model.maxcount</p>

@if (Model.Saveflg is 0)
{
    <p class="ps-3 text-success-light">@Model.Message</p>

}
else
{
    <p class="ps-3 text-warning-dark">
        @Model.Message
    </p>
}


<div class="container">
    <form method="POST" asp-controller="ExpiredofGood" asp-action="Index" asp-route-id="@Model.Id" asp-route-datakey="@Model.menukey" id="searchForm">
    <div class="card bg-body-highlight" >
     <div class="card-body">

            <div class="row" >
                <label class="col-lg-4 col-form-label font-body-mbsthai">อ่านบาร์โค้ด</label>
                <div class="col-10">
                    
                    <input class="form-control" id="inputBarcode" type="text" asp-for="barcode" autocomplete="off" />
                </div>  
            </div>           
            <div class="row mt-1" >

                <label class="col-lg-4 col-form-label font-body-mbsthai">รหัสสินค้า</label>
                        <div class="col-10">
                            @if (Model.pi.MstProd != null)
                            {
                            <label class="col-form-label text-primary" id="skucode" type="text">@Model.pi.MstProd.ProdId</label>
                            }
                           
                        </div>
                
             </div>                   
            <div class="row mt-1">

                    <label class="col-lg-4 col-form-label font-body-mbsthai">ชื่อสินค้า</label>
                <div class="col-10">
                    @if (Model.pi.MstProd != null)
                            {
                            <label class="col-form-label font-body-mbsthai text-primary" id="skuname" type="text">@Model.pi.MstProd.LongDescription</label>
                            }
                </div>
            </div>
            <div class="row g-3 mt-1">

               
                <div class="col-6 col col-xl-7">
                        <label class="col-lg-4 col-form-label font-body-mbsthai">จำนวนหน่วย</label>
                    @if (Model.pi.MstBarcode != null)
                    {
                            <label class="col-form-label font-body-mbsthai text-primary" id="unitname" type="text">@Model.pi.MstBarcode.UnitName</label>
                    }
                </div>
            
                   
                    <div class="col-6 col col-xl-7">
                        <label class="col-lg-4 col-form-label font-body-mbsthai">หมวดสินค้า</label>
                        @if (Model.pi.MstBarcode != null)
                        {
                            <label class="col-form-label font-body-mbsthai text-primary" id="unitname" type="text">@Model.groupId</label>
                        }
                    </div>
                </div>
            <div class="row mt-1">

                    <label class="col-lg-4 col-form-label font-body-mbsthai">วันผลิต/วันหมดอายุ</label>
                    <div class="col-10">
                      @*   <div class="flatpickr-input-container"> *@
                           @*  <div class="form-floating"> *@
                                <input class="form-control datetimepicker " id="startDatepicker" type="text" asp-for="ExprieDate"  autocomplete="off" />
                            @* </div> *@
                        @* </div> *@
                    </div>

                   
                </div>
                <div class="row mt-1">

                    <label class="col-lg-4 col-form-label font-body-mbsthai">LotNo</label>
                    <div class="col-10">
                        <input class="form-control" id="inputLot" type=text asp-for="LotNo" autocomplete="off" value="" />
                    </div>
                </div>
            <div class="row mt-1">

                    <label class="col-lg-4 col-form-label font-body-mbsthai">จำนวน</label>
                    <div class="col-10">
                        <input class="form-control" id="inputQty" type=number asp-for="Qty" autocomplete="off" value="" />
                    </div>
                </div>
            <ul id="results"></ul>
        </div>
    </div>
        <div class="row g-3 mt-2 " >

            <div class="col-5 col col-xl-6">
                <button class="btn btn-phoenix-success me-1 mb-1 d-block w-100" type="submit" style="font-size:medium" asp-route-id="@Model.Id" asp-route-datakey="@Model.menukey">บันทึก</button>
        
            </div>
            <div class="col-5 col col-xl-6" >
                <button class="btn btn-phoenix-secondary me-1 mb-1 d-block w-100" type="submit" style="font-size:medium" asp-controller="Home" asp-action="Indexweb" asp-route-id="@Model.Id">ย้อนกลับเมนู</button>
            </div>
    </div>

    </form>

</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
         $(document).ready(function () {

            var inputBarcodevalue =$('#inputBarcode').val();
             if(inputBarcodevalue === "")
              {
                 $('#inputBarcode').focus();
              }
          var inputexp =$('#startDatepicker').val();
             if(inputexp === "" )
               {
                  if(inputBarcodevalue !== "")
                  {
                      $('#startDatepicker').focus();
                  }
               
              }
             // Logic to handle selection (optional)
             $('#inputBarcode').on('keypress', function (e) {
             if (e.which == 13) { // Check for "Enter" key
                 e.preventDefault(); // Prevent the default form submission
                 var barcodevalue =$(this).val();
                 if(barcodevalue === "")
                 {
                     $('#inputBarcode').focus();
                 }else{
                      $('#searchForm').submit(); // Submit the form via AJAX
                 }
                
             } 
            });
              
         });
       
    </script>
}