@model TNPSTOREWEB.Model.ClassMenu
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HHLayout.cshtml";
    ViewData["Id"] = @ViewData["Logid"];
  
}

<p class="text-white fs-9">User Id:@ViewData["Logid"]</p>
<form method="POST" asp-controller="Home" >
    <div class="card bg-body-highlight" >
        <div class="card-body p-4 p-sm-5">

            @if (Model != null)
            {
                @foreach (var item in Model.stClasses)
                {
                    <div class="row flex-between-center mb-1">
                        <button class="btn btn-subtle-secondary me-1 mb-1 d-block w-100 mt-1" type="submit" name="submit" style="font-size:medium" asp-action="PageRequest" asp-route-id="@ViewData["Logid"]" asp-route-datakey="@item.Menukey"  asp-route-actkey="@item.Actionid" asp-route-controlkey="@item.Controllerid" asp-route-submenukey="0">@Html.DisplayFor(modelItem => item.ThaiName)</button>
                    </div>
                }
            }
                </div>
</div>

<div class="row flex-between-center p-4" >
        <button class="btn btn-phoenix-secondary me-1 mb-1 d-block w-100 mt-1" type="submit" name="submit" style="font-size:medium" asp-action="Index" asp-route-id="@ViewData["Logid"]">ย้อนกลับ</button>
</div>
</form>