
@model TNPSTOREWEB.Model.ModelLayout
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HHScanLayout.cshtml";

}
<p class="text-white ps-3">User Id:@Model.Id</p>
<p class="text-white ps-3">การสั่งเติมสินค้าในชั้น</p>

@if (Model.Saveflg is 0)
{
    <p class="ps-3 text-success-light">@Model.Message</p>

}
else
{
    <p class="ps-3 text-warning-dark">
        @Model.Message
    </p>
}

<div class="container">
 <form method="POST" asp-controller="Replenish" asp-action="Index" asp-route-id="@Model.Id" asp-route-datakey="@Model.menukey" id="searchForm">
    <div class="card bg-body-highlight" data-bs-theme="dark">
     <div class="card-body">

                <div class="row">

                    <label class="col-lg-4 col-form-label font-body-mbsthai">ประเภทตำแหน่งเก็บ</label>
                    <div class="col-10">
                        <select class="form-select  mbs-label-font-thai" id="selecttype" asp-for="selectLoctype"
                                asp-items="@(new SelectList(Model.pi.stLoctypes, "LocType", "LocTypeName"))">
                           
                        </select>
                    </div>
                </div>

            <div class="row" >

                <label class="col-lg-4 col-form-label font-body-mbsthai">อ่านบาร์โค้ด</label>
                <div class="col-10">
                    
                    <input class="form-control" id="inputBarcode" type="text" asp-for="barcode" autocomplete="off" />
                </div>  
            </div>           
            <div class="row mt-1" >

                <label class="col-lg-4 col-form-label font-body-mbsthai">รหัสสินค้า</label>
                        <div class="col-10">
                            @if (Model.pi.MstProd != null)
                            {
                            <label class="col-form-label text-white" id="skucode" type="text">@Model.pi.MstProd.ProdId</label>
                            }
                           
                        </div>
                
             </div>                   
            <div class="row mt-1">

                    <label class="col-lg-4 col-form-label font-body-mbsthai">ชื่อสินค้า</label>
                <div class="col-10">
                    @if (Model.pi.MstProd != null)
                            {
                        <label class="col-form-label font-body-mbsthai text-white" id="skuname" type="text">@Model.pi.MstProd.LongDescription</label>
                            }
                </div>
            </div>
            <div class="row mt-1">

              
                <div class="col-10">
                        <label class="col-lg-4 col-form-label font-body-mbsthai">จำนวนหน่วย</label>
                    @if (Model.pi.MstBarcode != null)
                    {
                            <label class="col-form-label font-body-mbsthai text-white" id="unitname" type="text">@Model.pi.MstBarcode.UnitName</label>
                    }
                </div>
            </div>
                <div class="row mt-1">

                    <label class="col-lg-4 col-form-label font-body-mbsthai">จำนวนสั่งเติม</label>
                    <div class="col-10">
                        <input class="form-control" id="inputQty" type=number asp-for="Qty" autocomplete="off" value="" />
                    </div>
                </div>
            <ul id="results"></ul>
        </div>
    </div>
        <div class="row g-3 mt-2 " data-bs-theme="dark">

            <div class="col-5 col col-xl-6">
                <button class="btn btn-phoenix-success me-1 mb-1 d-block w-100 mt-1" type="submit" style="font-size:medium" asp-route-id="@Model.Id" asp-route-datakey="@Model.menukey">บันทึก</button>
        </div>
            <div class="col-5 col col-xl-6">
                <button id="save" class="btn btn-phoenix-primary me-1 mb-1 d-block w-100 mt-1" type="submit" style="font-size:medium" asp-action="RepSummary" asp-route-id="@Model.Id" asp-route-error="0" asp-route-msg="" asp-route-datakey="@Model.menukey">สรุปสั่งเติมสินค้า</button>
        </div>
    </div>

    </form>
<form method="POST" asp-controller="Home">
  <div class="row flex-between-center p-3" data-bs-theme="dark">
            <button class="btn btn-phoenix-secondary me-1 mb-1 d-block w-100" type="submit" style="font-size:medium" asp-controller="Home" asp-action="Indexweb" asp-route-id="@Model.Id" >ย้อนกลับเมนู</button>
    </div>
  </form>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
         $(document).ready(function () {

            var inputBarcodevalue =$('#inputBarcode').val();
             if(inputBarcodevalue === "")
              {
                 $('#inputBarcode').focus();
              }
             var skuvalue =$('#skucode').val();
              if(skuvalue === "")
               {
                  $('#inputQty').focus();
              }
             // Logic to handle selection (optional)
             $('#inputBarcode').on('keypress', function (e) {
             if (e.which == 13) { // Check for "Enter" key
                 e.preventDefault(); // Prevent the default form submission
                 var barcodevalue =$(this).val();
                 if(barcodevalue === "")
                 {
                     $('#inputBarcode').focus();
                 }else{
                      $('#searchForm').submit(); // Submit the form via AJAX
                 }
                
             } 
            });
              
         });
       
    </script>
}