@model TNPSTOREWEB.Model.ModelLayout
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HHScanLayout.cshtml";
    ViewData["Id"] = @ViewData["Logid"];
    ViewData["Message"] = @ViewData["Message"];
    ViewData["ErrorID"] = @ViewData["ErrorID"];
    ViewData["Menukey"] = @ViewData["Menukey"];
}


<p class="ps-3">User Id:@ViewData["Logid"]</p>

@if(ViewData["ErrorID"] is 0)
{
    <p class="ps-3 text-success-light">@ViewData["Message"]</p>

}else{<p class="ps-3 text-warning-dark">
        @ViewData["Message"]</p>
}
<div class="container">
    <form method="POST" asp-controller="Replenish" asp-route-id="@ViewData["Logid"]" id="searchForm">

        <div class="card bg-body-highlight" data-bs-theme="dark">

            <div class="table-responsive mx-n1 px-1 scrollbar">
                <table class="table table-sm fs-9 mb-0 ">
                    <thead>
                        <tr>
                           <th>
                                <p class="fs-9  font-body-mbsthai p-1 pt-0 pb-0">รายการทั้งหมด:</p>

                           </th>
                            <th>
                                <p class="fs-9  font-body-mbsthai p-1 pt-0 pb-0">@Model.trp.Count()</p>

                            </th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @if (Model != null)
                        {

                            @foreach (var item in Model.trp)
                            {
                                <tr>
                                    <td class="pt-0 pb-0">
                                        <h5 class="p-1 pb-0">@Html.DisplayFor(modelItem => item.Barcode)</h5>
                                        <p class="fs-9  font-body-mbsthai p-1 pt-0 pb-0">@Html.DisplayFor(modelItem => item.ItemName) , @Html.DisplayFor(modelItem => item.UnitName)</p>
                                    </td>
                                    <td class="pt-0 pb-0">
                                        <p class="fs-8 font-body-mbsthai p-1 pb-0">Qty: @Html.DisplayFor(modelItem => item.ItemQty)</p>
                                    </td>
                                    <td class="pt-0 pb-0">
                                        <button class="btn btn-sm" asp-action="Delete" asp-route-id="@ViewData["Logid"]" asp-route-datakey="@ViewData["Menukey"]" asp-route-barcode="@item.Barcode">
                                        <span class="far fa-trash-alt text-danger"></span></button>
                                   
                                    </td>
                                
                                </tr>

                            }
                        }
                    </tbody>
                </table>


            </div>
        </div>
        <div class="row flex-between-center  p-3" data-bs-theme="dark">
            @if (Model.trp.Count() > 0)
            {
                
                    <button id="save" class="btn btn-phoenix-success me-1 d-block w-100 mt-1" type="submit" style="font-size:medium" asp-action="Confirm" asp-route-id="@ViewData["Logid"]" asp-route-datakey="@ViewData["Menukey"]">ยืนยันการสั่งเติม</button>
             
            }

        </div>

        <div class="row g-3" data-bs-theme="dark">
            <div class="col-5 col col-xl-6">
                <button class="btn btn-phoenix-primary me-1  d-block w-100 " type="submit" style="font-size:medium" asp-action="Index" asp-route-id="@ViewData["Logid"]" asp-route-datakey="@ViewData["Menukey"]">กลับสั่งเติม</button>
        </div>
            <div class="col-5 col col-xl-6">
                <button class="btn btn-phoenix-secondary me-1  d-block w-100 " type="submit" style="font-size:medium" asp-controller="Home" asp-action="Indexweb" asp-route-id="@ViewData["Logid"]">ย้อนกลับเมนู</button>
            </div>
        </div>
 </form>
 
</div>
