
@model TNPSTOREWEB.Model.ModelLayout
@{
   
    Layout = "~/Views/Shared/_HHScanLayout.cshtml";

}
@if(Model.Loccat=="S")
{
    <p class="ps-3 fs-8">การบันทึกสินประเภทตำแหน่งเก็บ: หน้าร้าน</p>

}
else
{
    @if (Model.Loccat == "R")
    {
        <p class="ps-3 fs-8">การบันทึกสินประเภทตำแหน่งเก็บ: คลังร้าน</p>

    }
}

@if (Model.Saveflg is 0)
{
    <p class="ps-3 text-success-light">@Model.Message</p>

}
else
{
    <p class="ps-3 text-warning-dark">
        @Model.Message
    </p>
}

<div class="container">

    <form method="POST" asp-controller="MasterConfig" asp-action="TypeLocationAdd" asp-route-id="@Model.Id" asp-route-datakey="@Model.menukey" asp-route-actions="A" asp-route-loccat="@Model.Loccat" id="searchForm">
        <div class="card bg-body-highlight">
            <div class="card-body">
                @if(Model !=null)
                {

                    <div class="row">

                        <label class="col-lg-4 col-form-label font-body-mbsthai">ประเภทตำแหน่งเก็บ</label>
                        <div class="col-10">

                            <input class="form-control" id="inputtype" type="text" asp-for="loctype" autocomplete="off" disabled="disabled" />
                           
                        </div>
                </div>
                
                <div class="row mt-1">

                        <label class="col-lg-4 col-form-label font-body-mbsthai">ชื่อประเภท</label>
                            <div class="col-10">
                            <input class="form-control font-body-mbsthai" id="inputtypename" type="text" asp-for="loctypename" autocomplete="off" />

                    </div>
                </div>
                

                }
        </div>
        </div>
        <div class="row g-3 mt-0">

            <div class="col-5 col col-xl-6">
                <button class="btn btn-phoenix-success me-1 mb-1 d-block w-100 mt-1" type="submit" style="font-size:medium" asp-controller="MasterConfig" asp-action="Add" asp-route-id="@Model.Id" asp-route-actions="S" asp-route-type="@Model.loctype" asp-route-cat="@Model.Loccat">บันทึก</button>
           </div>
            <div class="col-5 col col-xl-6">
                <button class="btn btn-phoenix-secondary me-1 mb-1 d-block w-100" type="submit" style="font-size:medium" asp-controller="MasterConfig" asp-action="TypeLocation" asp-route-id="@Model.Id">ย้อนกลับเมนู</button>
            </div>
    </div>

    </form>
   
    
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
         $(document).ready(function () {

           var inputBarcodevalue =$('#inputtype').val();
             if(inputBarcodevalue === "")
              {
                $('#inputtype').focus();
              }else{
                $('#inputtypename').focus();
              }
             
          
         });
       
    </script>
}