@model TNPSTOREWEB.Model.ModelLayout
@{

    ViewData["Id"] = @ViewData["Logid"];
    ViewData["Menukey"] = @ViewData["Menukey"];
    ViewData["Message"] = @ViewData["Message"];
    ViewData["ErrorID"] = @ViewData["ErrorID"];
    await Html.RenderPartialAsync("~/Views/Shared/_MyLaoutMenu.cshtml", Model);

}
<h5 class ="ps-3">รายงานการเติมสินค้า</h5>
<p class="ps-3 fs-9">User Id:@ViewData["Logid"]</p>
<p class="ps-3 text-success-light">@Model.Message</p>
<form class="mb-3 mbs-label-font-thai" method="POST" asp-controller="RepReport" id="searchForm">


    @* //section Serach *@


    <div class="row gx-3 ps-2 form-check">
        <div class=" col-md-10">
            @foreach (var option in Model.Options)
            {

                @if(option=="1")
                {

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="SelectedOption" name="options" value="@option" />
                        <label class="form-check-label" for="flexRadioDefault2">บาร์โค้ด</label>
                    </div>



                }
                else{
                    if (option == "2")
                    {
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="SelectedOption" name="options" value="@option" />
                            <label class="form-check-label" for="flexRadioDefault2">เลขเอกสาร</label>
                        </div>
                    }

                }

            }
            <div class="form-check-inline col-md-3">
                <input class="form-control" id="inputBarcode" placeholder="ค้นหา อ่านบาร์โค้ด /เลขที่เอกสาร" type="text" asp-for="barcode" autocomplete="off" />
            </div>
            <div class="form-check-inline col-md-1">
                <button class="btn btn-link text-secondary-light me-4 px-0" asp-action="RepHistory" asp-route-clear="Y">เคลียร</button>

            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap gap-3 mb-4 ps-2">

        <div class="scrollbar overflow-hidden-y">
            <div class="btn-group position-static" role="group">
                <div class="btn-group position-static text-nowrap">
                    <select class="form-select mbs-label-font-thai fs-9" id="groupselect" asp-for="SelectGroupNo"
                    asp-items="@(new SelectList(Model.ModelHis.prodgroups, "GroupId", "GroupName"))">
                        <option value="0">---เลือกหมวด---</option>
                    </select>
                </div>
            </div>

            <div class="btn-group position-static" role="group">
                <div class="btn-group  position-static text-nowrap">
                    <select class="form-select mbs-label-font-thai fs-9" id="statusselect" asp-for="SelectStatus"
                    asp-items="@(new SelectList(Model.Transtauts, "StatusId", "StatusName"))">
                        <option value="0">---เลือกสถานะ---</option>
                    </select>
                </div>
            </div>
            <div class="btn-group position-static ps-2" role="group">
                <p class="fs-9">วันที่เริ่มต้น</p>
            </div>
            <div class="btn-group position-static ps-2" role="group">
                <input class="form-control datetimepicker " id="startDatepicker" type="date" asp-for="DateFm"  autocomplete="off" value="@Model.DateFm" />
            </div>
            <div class="btn-group position-static ps-2" role="group">
                <p class="fs-9">สิ้นสุด</p>
            </div>
            <div class="btn-group position-static ps-2" role="group">
                <input class="form-control datetimepicker " id="EndDatepicker" type="date" asp-for="DateTo" autocomplete="off" value="@Model.DateTo"/>
            </div>
            <div class="btn-group position-static ps-2" role="group">
                <button class="btn btn-link  text-info me-4 px-0" asp-action="RepHistory" asp-route-clear="S"><span class="fa-solid far fab fa-sistrix fs-8 me-2"></span>ค้นหา</button>

            </div>
            @if (Model.dataRpt !=null)
            {
                
            
            @if (Model.dataRpt.Count() >0)
            {
                <div class="btn-group position-static ps-1" role="group">
                    <button class="btn btn-link text-body me-4 px-0" asp-action="ExportFile" asp-route-export="X" asp-route-Id="@Model.Id"><span class="fa-solid far fa-file-excel fs-8 me-2"></span>Export</button>
                </div>
                <div class="btn-group position-static ps-1" role="group">
                    <button id="pdfclick" class="btn btn-link text-body me-4 px-0"><span class="fa-solid far fa-file-pdf fs-8 me-2"></span>Report</button>
                </div>
            }
           }
        </div>

    </div>
    @*//End Section*@

    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
        <div id="orderTable" data-list='{"valueNames":["DocNo","barcode","productName","GroupId","UnitName","LocIdfmName","LocIdtoName","ItemQty","ItemQtyRep","ChangeDtime","TranStatusname"],"page":10,"pagination":true}'>
        <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-sm fs-9 mb-0">
                <thead class="bg-primary-subtle">
                    <tr>
                      
                        <th class="sort align-middle ps-2" scope="col" data-sort="DocNo"  style="width:150px;">เลขที่เอกสาร</th>
                        <th class="sort align-middle ps-2" scope="col" data-sort="barcode" style="width:150px;">รหัสสินค้า</th>
                        <th class="sort white-space-nowrap align-middle ps-4"  scope="col" style="width:400px;" data-sort="productName">ชื่อ</th>
                        <th class="sort align-middle ps-2" scope="col" data-sort="GroupId" style="width:80px;">หมวด</th>
                        <th class="sort align-middle ps-2" scope="col"  style="width:100px;">หน่วย</th>
                        <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:180px;">ตำแหน่งจัด</th>
                        <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:180px;">ตำแหน่งเติม</th>
                        <th class="sort align-middle ps-2" scope="col"  style="width:100px;">สั่งเติม</th>
                        <th class="sort align-middle ps-2" scope="col"  style="width:100px;">จัดเติม</th>
                        <th class="sort align-middle ps-4" scope="col" data-sort="ChangeDtime" style="width:180px;">เวลาปรับปรุง</th>
                        <th class="sort align-middle ps-4" scope="col" data-sort="TranStatus" style="width:150px;">สถานะ</th>
                    </tr>
                </thead>
                    <tbody class="list" id="order-table-body">
                        
                    @if (Model.dataRpt != null)
                    {
                        @foreach (var item in Model.dataRpt.ToList().OrderBy(t => t.DocNo))
                        {
                                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="fs-9 align-middle">
                                    <p class="DocNo fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.DocNo)</p>
                                </td>
                                <td class="fs-9 align-middle">
                                    <p class="barcode fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.barcode)</p>
                                </td>
                                 <td class="fs-9 align-middle">
                                    <p class="productName fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.productName)</p>
                                </td>
                                 <td class="fs-9 align-middle">
                                    <p class="GrouId fs-9  font-body-mbsthai mb-0">@Html.DisplayFor(modelItem => item.GroupId)</p>
                                </td>
                                <td class="fs-9 align-middle">
                                    <p class="UnitName fs-9  font-body-mbsthai mb-0">@Html.DisplayFor(modelItem => item.UnitName)</p>
                                </td>
                                <td class="fs-9 align-middle">
                                    <p class="fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.LocIdfmName)</p>
                                </td>
                                <td class="fs-9 align-middle">
                                    <p class="fs-9  font-body-mbsthai mb-0">@Html.DisplayFor(modelItem => item.LocIdtoName)</p>
                                </td>

                                <td class="fs-9 align-middle">
                                    <p class="fs-9  font-body-mbsthai mb-0">@Html.DisplayFor(modelItem => item.ItemQty)</p>
                                </td>

                                <td class="fs-9 align-middle">
                                    <p class="fs-9  font-body-mbsthai mb-0">@Html.DisplayFor(modelItem => item.ItemQtyRep)</p>
                                </td>

                                <td class="fs-9 align-middle">
                                    <p class="CreateDtime fs-10  font-body-mbsthai mb-0">@Html.DisplayFor(modelItem => item.ChangeDtime)</p>
                                </td>
                                <td class="fs-9 align-middle">
                                    <p class="TranStatusname fs-9  font-body-mbsthai  mb-0">@Html.DisplayFor(modelItem => item.TranStatusname)</p>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                </table>
            </div>
        <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
            <div class="col-auto d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
            </div>
            <div class="col-auto d-flex">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
            </div>
        </div>
       </div>
       </div>
   
 </form>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
           
           var inputBarcodevalue =$('#inputBarcode').val();
            if(inputBarcodevalue === "")
             {
                $('#inputBarcode').focus();
             }
         
            // Logic to handle selection (optional)
            $('#inputBarcode').on('keypress', function (e) {
            if (e.which == 13) { // Check for "Enter" key
                e.preventDefault(); // Prevent the default form submission
                var barcodevalue =$(this).val();
                if(barcodevalue === "")
                {
                    $('#inputBarcode').focus();
                }else{
                     $('#searchForm').submit(); // Submit the form via AJAX
                }
                windoq
            }
           });


           $('#pdfclick').click(function () {
               let Id="@Model.Id";
               let barcode="@Model.barcode";
               let datefm="@Model.DateFm";
               let dateto="@Model.DateTo";
               let groupid ="@Model.SelectGroupNo";
               let statusid ="@Model.SelectStatus";
               var path =window.location.href;
               var host =path.split("/RepReport");
               let url=host[0]+'/RepReport/PreviewPDF?Id='+Id+'&barcode='+barcode+'&datefm='+datefm+'&dateto='+dateto+'&groupid='+groupid+'&sutatusid='+statusid ;
               window.open(url,"_blank");


           });
            
         });

    </script>
    
}

