
@model TNPSTOREWEB.Model.ModelLayout

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HHScanLayout.cshtml";
    
  
}

<p class="ps-3 fs-9">User Id:@Model.Id</p>
<p class="ps-3 text-success-light">@Model.Message</p>

<div class="container">

    @if (Model.Options != null)
    {
        <form method="POST" id="Formoption" asp-controller="AssignRpl" asp-action="AssignRplList" asp-route-id="@Model.Id" asp-route-datakey="@Model.menukey" >
            <div class="row g-3 mt-1" data-bs-theme="dark">
                @foreach (var option in Model.Options)
                {
                    <div class="form-check">

                        <input class="form-check-input" type="radio" asp-for="SelectedOption" name="options" value="@option" />
                        @if(option=="1")
                        {
                           <label class="form-check-label" for="flexRadioDefault1">แสดง 50 รายการล่าสุด</label>
                        }
                       else
                            {
                            @if (option == "2")
                            {
                                    <label class="form-check-label" for="flexRadioDefault2">แสดงตามเลขที่เอกสาร</label>

                            }
                           else
                            {
                               
                                <input class="form-control" id="inputBarcode" placeholder="ค้นหา อ่านบาร์โค้ด" type="text" asp-for="barcode" autocomplete="off" />
                            } 

                       
                            }
                           
                    </div>
                   
                }
            </div>

        @if(Model.display == 1 || Model.display == 3)
            {
                <div class="card bg-body-highlight" data-bs-theme="dark">
                    <div class="table-responsive mx-n1 px-1 scrollbar">
                        <table class="table table-sm fs-9 mb-0 ">
                            <tbody class="list">
                                @if (Model.rp.replenishD != null)
                                {

                                    @foreach (var item in Model.rp.replenishD.ToList().OrderByDescending(t => t.ChangeDtime).Take(50))
                                    {
                                        @foreach (var i in Model.rp.locprdds.Where(t => t.barcode == item.Barcode && t.DocNo==item.DocNo).ToList())
                                        { 
                                            <tr class="pb-0">
                                                <td class="pt-0 pb-0 col-10">
                                                    <h5 class="p-1 pb-0 ">@Html.DisplayFor(modelItem => item.ItemName) , @Html.DisplayFor(modelItem => item.UnitName)</h5>
                                                    <p class="fs-9  font-body-mbsthai p-1 pt-0 pb-0">
                                                        รหัสสินค้า : @Html.DisplayFor(modelItem => item.Barcode),
                                                        จัด=>@Html.DisplayFor(modelItem => i.LocIdfmName)
                                                        เติม=>@Html.DisplayFor(modelItem => i.LocIdtoName),
                                                        เอกสาร: @Html.DisplayFor(modelItem => item.DocNo) วันที่:@Html.DisplayFor(modelItem => item.ChangeDtime)
                                                    </p>
                                                </td>
                                                <td class="pt-0 pb-0">
                                                    <p class="fs-8 font-body-mbsthai p-1 pb-0">@Html.DisplayFor(modelItem => item.ItemQty) / @Html.DisplayFor(modelItem => item.ItemQtyRep) </p>

                                                </td>

                                            </tr>

                                        }

                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>

            }
            else{                    
                //2 docno
                    <div class="card bg-body-highlight" data-bs-theme="dark">

                        <div class="table-responsive mx-n1 px-1 scrollbar">
                            <table class="table table-sm fs-9 mb-0 ">
                                <tbody class="list">
                                    @if (Model.rp.replenish != null)
                                    {
                                        @foreach (var item in Model.rp.replenish.ToList().OrderByDescending(t => t.DocNo).Take(50))
                                        {
                                           
                                            <tr>
                                                <td class="pt-0 pb-0">
                                                    <h5 class="p-1 pb-0">@Html.DisplayFor(modelItem => item.DocNo)</h5>
                                                <p class="fs-9  font-body-mbsthai p-1 pt-0 pb-0">วันที่สร้าง : @Html.DisplayFor(modelItem => item.TranDate)</p>
                                                </td>
                                                    <td class="pt-0 pb-0">
                                                    <p class="fs-8 font-body-mbsthai p-1 pb-0">รายการทั้งหมด: @Html.DisplayFor(modelItem => item.TotalItem)</p>
                                                </td>
                                                    <td class="pt-0 pb-0">
                                                    <button class="btn btn-sm" asp-action="ItemDetailList" asp-route-id="@Model.Id" asp-route-datakey="@Model.menukey" asp-route-docno="@item.DocNo" asp-route-type="@Model.SelectedOption">
                                                            <span class="far fa-file-alt text-info fs-7"></span>
                                                        </button>

                                                    </td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>

                }
        </form>
    }
       
    
        <form method="POST" id="Formback" asp-controller="Home" asp-action="Indexweb" asp-route-id="@Model.Id">
        <div class="row p-3" data-bs-theme="dark">
            <button class="btn btn-phoenix-secondary me-1  d-block w-100 " type="submit" style="font-size:medium">ย้อนกลับเมนู</button>
        </div>
    </form>
    

</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('input[type=radio][name=options]').change(function () {
            var choised =$('#choise').val()
           if(choised===3)
           {
             $('#inputBarcode').focus();
           }else{$('#Formoption').submit();}

         });

        $('#inputBarcode').on('keypress', function (e) {
            if (e.which == 13) { // Check for "Enter" key
                e.preventDefault(); // Prevent the default form submission
                var barcodevalue =$(this).val();
                if(barcodevalue === "")
                {
                    $('#inputBarcode').focus();
                }else{
                     $('#Formoption').submit(); // Submit the form via AJAX
                }
                 }
        });

    </script>
    }

