@model TNPSTOREWEB.Model.ModelLayout
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HHScanLayout.cshtml";

}


<p class="ps-3 fs-9">User Id:@Model.Id</p>
<p class="text-white ps-3">รับคำสั่งเติมสินค้าเข้าชั้น</p>
@if(Model.Saveflg is 0)
{
    <p class="ps-3 text-success-light">@Model.Message</p>

}else{<p class="ps-3 text-warning-dark">
        @Model.Message
    </p>
}
<div class="container">
    @if (Model != null)
    {
        <form method="POST" asp-controller="AssignRpl" asp-route-id="@Model.Id" id="AssgForm">
            @if (Model.rp != null)
            {
                <div class="row" data-bs-theme="dark">

                    <label class="col-lg-4 col-form-label font-body-mbsthai">เลือกหมวดสินค้า</label>
                    <div class="col-sm-10">
                        <select class="form-select  mbs-label-font-thai fs-9" id="selecttype"  asp-for="SelectedOption"
                        asp-items="@(new SelectList(Model.rp.prodgroups, "GroupId", "GroupName"))">
                            <option value="0">---เลือก---</option>
                        </select>
                    </div>
                </div>
                <div class="card bg-body-highlight" data-bs-theme="dark">
                @if (Model.rp.assignInfos !=null)
                {
                    <div class="table-responsive mx-n1 px-1 scrollbar">
                        <table class="table table-sm fs-9 mb-0 ">
                            <thead>
                                <tr>
                                   <th class="pb-0">
                                        <p class="fs-9  font-body-mbsthai p-1 pt-0 pb-0">รายการทั้งหมด:</p>

                                   </th>
                                    <th class="pb-0">
                                        <p class="fs-9  font-body-mbsthai p-1 pt-0 pb-0">@Model.rp.assignInfos.Count()</p>

                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @if (Model != null)
                                {
                                    <div class="card bg-body-highlight" data-bs-theme="dark">

                                        <div class="table-responsive mx-n1 px-1 scrollbar">
                                            <table class="table table-sm fs-9 mb-0 ">

                                                <tbody class="list">
                                                    @if (Model.rp.assignInfos != null)
                                                    {

                                                        @foreach (var item in Model.rp.assignInfos.ToList().OrderBy(t => t.DocNo).Take(50))
                                                        {
                                                            <tr class="pb-0">
                                                                <td class="pt-0 pb-0">
                                                                    <h5 class="p-1 pb-0 fs-8">@Html.DisplayFor(modelItem => item.DocNo)</h5>
                                                                    <p class="fs-9  font-body-mbsthai p-1 pt-0 pb-0">วันที่สร้าง : @Html.DisplayFor(modelItem => item.TranDate) </p>
                                                                </td>
                                                                <td class="pt-0 pb-0">
                                                                    <p class="fs-8 font-body-mbsthai p-1 pb-0">รายการทั้งหมด: @Html.DisplayFor(modelItem => item.TotalItem)</p>
                                                                </td>
                                                                <td class="pt-0 pb-0">
                                                                    <button class="btn btn-sm" asp-action="ItemDetail" asp-route-id="@Model.Id" asp-route-datakey="@Model.menukey" asp-route-docno="@item.DocNo">
                                                                        <span class="far fa-file-alt text-info fs-7"></span>
                                                                    </button>

                                                                </td>
                                                            </tr>

                                                        }
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-1 p-5" data-bs-theme="dark">
                        <button class="btn btn-phoenix-secondary me-1  d-block w-100 " type="submit" style="font-size:medium" asp-controller="Home" asp-action="Indexweb" asp-route-id="@Model.Id" >ย้อนกลับเมนู</button>
                    </div>
                }
            </div>
            }
        </form>
    }
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('select[id=selecttype]').change(function () {

              $('#AssgForm').submit();
           });


    </script>
}

